*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* блок первый navbar */

header{
    background-image: url(img/nourish_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}

.logo_nav{
    padding: 2%;
    color: whitesmoke;
}


h1{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 217;
    font-style: normal;
}
.liner::before{
    content:' ';
    width: 100%;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    display: block;
    opacity: 0.5;

}

.liner::after{
    content:' ';
    width: 100%;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    display: block;
    opacity: 0.5;
}


/* 2 */

.orange{
   /* font-family: "Libre Baskerville", serif;
    font-weight: 400;

    color: rgb(204, 151, 17); */
    font-family: "Work Sans", sans-serif;
  /*   font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    color: rgb(204, 151, 17);
  
} 

/* 3 */

.crem{
    background-image: url(img/serum_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

 h2::after{
    content:' ';
    width: 75%;
    height: 1px;
    background-color: rgb(249, 168, 17);
    display: block;
    opacity: 0.5;
    margin-top: 10px;
}

.sect_3:nth-child(-n+4){
    margin:0;
}

.list-group {

list-style-position:outside;
    
}

.list-item{
    list-style-image: url(img/check.svg);
    padding-left: 10px;
}

.btn_dop{
    float: left;
}


